<div class="toast">
  <div class="toast-content">
    <div class="icon-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="error-icon"
      >
        <circle cx="12" cy="12" r="10" />
        <path d="m15 9-6 6" />
        <path d="m9 9 6 6" />
      </svg>
    </div>
    <div class="message">
      <h4>Error while submitting the form</h4>
      <p>To submit the form, please fill all the required fields</p>
    </div>
  </div>
</div>
