@if (displayToast$$()) {
<app-error-toast></app-error-toast>
}
<h1>Portfolio Generator</h1>
<div class="container">
  <div class="header-container">
    <app-portfolio-form-header
      [activeStepIndex]="currentStepIndex"
      [steps]="steps"
      (stepChanged)="onStepChanged($event)"
    ></app-portfolio-form-header>
  </div>

  <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
    <p class="required-info">
      Fields with <span class="required"></span> are mandatory.
    </p>
    @switch (currentStepIndex) { @case(0) {
    <section class="form-section">
      <h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#005f90"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-user-round icon"
        >
          <path d="M18 20a6 6 0 0 0-12 0" />
          <circle cx="12" cy="10" r="4" />
          <circle cx="12" cy="12" r="10" />
        </svg>
        Personal Informations
      </h3>
      <label for="name">Name <span class="required"></span></label>
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="John Doe"
      />

      <label for="bio">Bio <span class="required"></span></label>
      <input
        id="bio"
        type="text"
        formControlName="bio"
        placeholder="I build beautiful websites..."
      />

      <label for="jobRole">Job Role <span class="required"></span></label>
      <input
        id="jobRole"
        type="text"
        formControlName="jobRole"
        placeholder="Software Engineer"
      />

      <label for="email">Email <span class="required"></span></label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="john@doe.com"
      />

      <label for="linkedin">LinkedIn</label>
      <input
        id="linkedin"
        type="text"
        formControlName="linkedin"
        placeholder="linkedin.com/in/john-doe"
      />

      <label for="github">GitHub</label>
      <input
        id="github"
        type="text"
        formControlName="github"
        placeholder="github.com/johndoe"
      />
    </section>
    } @case(1) {
    <section class="form-section skills-section">
      <h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#005f90"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-wrench icon"
        >
          <path
            d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
          />
        </svg>
        Skills
      </h3>
      <label for="skills">Skills</label>
      <input id="skills" type="text" placeholder="Ex: Angular" #skillInput />
      <button
        type="button"
        (click)="
          addItemToFormArray(portfolioForm.controls.skills, skillInput.value);
          skillInput.value = ''
        "
      >
        Add
      </button>
      <div class="skills">
        @for (skill of portfolioForm.controls.skills.controls; track i; let i =
        $index) {
        <app-skill-tag
          [value]="skill.value"
          (click)="removeItemFromFormArray(portfolioForm.controls.skills, i)"
        >
        </app-skill-tag>
        }
      </div>
    </section>
    } @case(2) {
    <section class="form-section">
      <h3>
        <svg class="icon" viewBox="0 0 64 64">
          <path
            d="M8 16h48v8H8zM4 28h56v4H4zM8 36h48v8H8zM4 48h56v4H4z"
            fill="#005f90"
          />
        </svg>
        Professional Experiences
      </h3>
      <div formGroupName="newExperience" class="form-group">
        <label for="expTitle">Title</label>
        <input
          id="expTitle"
          type="text"
          formControlName="title"
          placeholder="Software Engineer"
        />

        <label for="expDescription">Description</label>
        <input
          id="expDescription"
          type="text"
          formControlName="description"
          placeholder="I build beautiful websites..."
        />

        <label for="expSkills">Skills (coma separated)</label>
        <input
          id="expSkills"
          type="text"
          formControlName="skills"
          placeholder="Ex: Angular, Jira"
        />
      </div>
      <button type="button" (click)="addExperience(false)">
        Add experience
      </button>
      <div class="cards-container">
        @for (experience of experienceItems; track i; let i = $index) {
        <app-experience-card
          (click)="
            removeItemFromFormArray(portfolioForm.controls.experiences, i)
          "
          class="card-item"
          [title]="experience.get('title')?.value || ''"
          [description]="experience.get('description')?.value || ''"
          [skills]="experience.get('skills')?.value || ''"
        >
        </app-experience-card>
        }
      </div>
    </section>
    } @case(3) {
    <section class="form-section">
      <h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#005f90"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-presentation icon"
        >
          <path d="M2 3h20" />
          <path d="M21 3v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3" />
          <path d="m7 21 5-5 5 5" />
        </svg>
        Projects
      </h3>
      <div formGroupName="newExperience" class="form-group">
        <label for="projectTitle">Title</label>
        <input
          id="projectTitle"
          type="text"
          formControlName="title"
          placeholder="Portfolio Generator"
        />

        <label for="projectDescription">Description</label>
        <input
          id="projectDescription"
          type="text"
          formControlName="description"
          placeholder="A tool to generate portfolios..."
        />

        <label for="projectSkills">Skills (coma separated)</label>
        <input
          id="projectSkills"
          type="text"
          formControlName="skills"
          placeholder="Ex: Angular, Jira"
        />
      </div>
      <button type="button" (click)="addExperience(true)">Add Project</button>
      <div class="cards-container">
        @for (project of projectItems; track i; let i = $index) {
        <app-experience-card
          (click)="
            removeItemFromFormArray(portfolioForm.controls.experiences, i)
          "
          class="card-item"
          [title]="project.get('title')?.value || ''"
          [description]="project.get('description')?.value || ''"
          [skills]="project.get('skills')?.value || ''"
        >
        </app-experience-card>
        }
      </div>
    </section>
    } }
    <div class="navigation-buttons">
      <button
        type="button"
        (click)="currentStepIndex = currentStepIndex - 1"
        [disabled]="currentStepIndex === 0"
      >
        Previous
      </button>
      <button
        type="button"
        (click)="currentStepIndex = currentStepIndex + 1"
        [disabled]="currentStepIndex === steps.length - 1"
      >
        Next
      </button>
      <button type="submit" [hidden]="currentStepIndex != steps.length - 1">
        Submit
      </button>
    </div>
  </form>
</div>
